* {
    margin: 3px;
    padding: 0;
}
.startpage {
    display: flex;
    justify-content: flex-end;
}
.question{
    padding: 3px;
}
.EndTestButton{
    margin-left: 8px;
    height: 24px;
}
.resultDiv{
    padding: 3px;
}